*{
    margin:0;

}
/*Navbar*/
nav{
    display:flex;
    float:right;
}
li{
    list-style: none;
    padding:30px;
}
.head{
    display:flex;
    float:right;
    wiidth:600px;

}
ul{
    display:flex;
    
}
a{
    text-decoration: none;
    color:black;
    font:roboto;
    
}


/*Search Bar*/
.searchbar{
    margin-top:30px;

}
.search{
position: relative;
width: 900px;
height: 60px;
left: 250px;
background: #E5E5E5;
border: none;
box-sizing: border-box;
border-radius: 40px;
}

/*products*/

.product{
width: 900px;


}
.prodimg{
    border-radius: 100px;
    float:left;
    padding: 15px;
    height:90%;
    position:relative;
    color:white;

}

.prodimg :hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    cursor:pointer;
}
.prod{
margin-bottom: 30px;
position:relative;
width: 800px;
height: 200px;
left: 280px;
top:100px;
box-sizing:content-box;
background: #FFDF54;
border-radius: 30px;
}

.button{
    margin-left: 200px;
    padding-left:50px;
    padding-top:20px;
}

h4{
    font-weight:0.03px;
    font-size:20px;
    margin-bottom:10px;
    color:rgb(104, 92, 92);
}

button{
    background: #FFFEFE;
    border-radius: 40px;  
    width:150px;
    height:50px;
    border:none;    
}

button:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    cursor:pointer;
}

.content{
    left:500px;
}